{% extends 'base.html' %}
<!-- {% include 'flux/edit_review.html' %}  -->
{% block content %}

<div class="btn">
  <button class="D_review">Demander une critique</button>
  <button class="D_review">Créer une critique</button>
</div>

<div class="container">
  <div class="container_review">
    <p>Vous avez publié une - {{ r_ticket.user }}</p>
    <p class="date">{{ r_ticket.time_created }}</p>
    <p class="title">- <span class="rank"> * * * * * </span></p>
    <p class="def">{{ r_ticket.description }}</p>

    {% for one_ticket in all_tickets %}
    <div class="container_ticket">
      <p>Ticket - {{ one_ticket.user }}</p>
      <p class="title">{{ one_ticket.title }}</p>
      <p class="def">{{ one_ticket.description }}</p>
      <img src="images/couvertures/pierre_parlante_IAsimov.jpg" alt="" />
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
