{% extends 'base/base.html' %} {% block pagecontent %}

<!-- Review -->
<div class="btn">
  <button class="ask">Demander une critique</button>
  <button class="create">Créer une critique</button>
</div>

{% for review in review_list %}
<div class="review">
  <p>Vous avez publié une - {{ review.user }}</p>
  <p class="date">{{ review.time_created }}</p>
  <p class="title">
    {{ review.headline }} - <span class="rank">{{review.rating}}</span>
  </p>
  <p class="def">{{ review.body }}</p>
</div>
{% endfor %} {% for rt in rt_list %}

<div class="review">
  <div class="container_ticket">
    <p>Ticket outside Review - {{ rt.user }}</p>
    <p class="title">{{ rt.title }}</p>
    <p class="def">{{ rt.description }}</p>
    <img src="images/couvertures/pierre_parlante_IAsimov.jpg" alt="" />
  </div>
</div>
{% endfor %}
<!-- {% for one_ticket in all_tickets %} -->
<!-- {% endfor %} -->
{% endblock pagecontent%}

<!-- {% if {{ review.title }}== {{ rt.title}} %}

  <div class="container_ticket">
    <p>Ticket in Review N° - {{ review.ticket }}</p>
    <p class="title">{{ review.title }}</p>
    <p class="def">{{ first_ticket.description }}</p>
    <img src="images/couvertures/pierre_parlante_IAsimov.jpg" alt="" />
  </div>

  {% else %}

  <button class="create">Créer une critique</button>

  {% endif %} -->
