{% extends 'base/base.html' %} {% block pagecontent %}

<!-- Review -->
<div class="btn">
  <button class="ask">
    <a href="{% url 'ticket_create' %}"> Demander une critique</a>
  </button>
  <button class="create">
    <a href="{% url 'review_create' %}">Créer une critique</a>
  </button>
</div>

{% for review in review_list %}
<div class="review">
  <p>Vous avez publié une review (critique)- {{ review.user }}</p>
  <p class="date">{{ review.time_created }}</p>
  <p class="title">
    {{ review.headline }} - <span class="rank">{{review.rating}}</span>
  </p>
  <p class="def">{{ review.body }}</p>
</div>
{% endfor %} {% include "./ticket.html" %} {% for rt in rt_list %}

<div class="review">
  <div class="container_ticket">
    <p>Ticket outside Review - {{ rt.user }}</p>
    <p class="title">{{ rt.title }}</p>
    <p class="def">{{ rt.description }}</p>
    <img src="images/couvertures/pierre_parlante_IAsimov.jpg" alt="" />
  </div>
</div>
{% endfor %}

<!-- {% for one_ticket in all_tickets %} -->
<!-- {% endfor %} -->
{% endblock pagecontent%}
